    body{
    background: rgba(0, 0, 0, 1);
}
header {
  background-image: url(../img/report/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100vw;
  height: 7.8vh;
  text-align: center;
  font-weight: 400;
  letter-spacing: 9px;
  font-size: 3vw;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  font-family: 'PangMenZhengDao';
}

.header-content {
  height: 6.2vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-content .header-left {
  height: 100%;
  padding: 0 67px;
  width: 38vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left .header-title {
    font-family: "YouSheBiaoTiHei";
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;

}

.header-content .header-right {
  height: 6.1vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right:25px;
}
.header-right .nav{
  width: 8.3vw;
  height: 3.7vh;
  margin-right: 1vw;
  /* padding-top: 1.2vh; */
}
.header-right .nav img {
  width: 100%;
  height: 100%;
}
.header-right .dateTime {
  font-weight: 400;
  font-size: 1.2vw;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.header-right .dateTime .date {
  font-weight: 400;
  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}
main{
  padding: 1.7vh;
  top: 7.8vh;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  position: absolute;
  bottom: 0; 
}
/* 新增布局容器样式 */
.monitor-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
  overflow-y: auto;
  padding: 0;
  box-sizing: border-box;
}

/* 三列模式基础样式 */
.three-column .monitor-item {
  flex: 0 0 calc(33.333% - 15px);
  height: calc(50% - 10px);
  min-height: calc(50%  - 10px);
  background-image: url(../img/monitor/video.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

/* 四列模式基础样式 */
.four-column .monitor-item {
  flex: 0 0 calc(25% - 15px);
  height: calc(33.333% - 10px);
  min-height: calc(33.333% -10px);
  background-image: url(../img/monitor/box.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

/* 监控项基础样式 */
.monitor-item {
  position: relative;
  overflow: hidden;
}

/* 视频占位符样式 */
.video-placeholder {
  width: 100%;
  height: calc(100% - 3vh);
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(0, 78, 150, 0.05) 0%, rgba(17, 34, 60, 0.05) 100%);

}
.monitor-info-content{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(../img/monitor/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.monitor-time{
    color: #FFFFFF;
    font-size:14px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
/* 视频信息栏 */
.video-info {
  height: 3vh;
  line-height: 3vh;
  color: white;
  padding: 0 32px;
  font-size: 14px;
  font-weight: 400;
}

/* 布局模式切换按钮 */
.layout-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 100;
}
.mask{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 1);
    z-index: 999;
    opacity: 0.9;
    padding: 5.5vh 6vw;
}
.mask-content{
    width: 100%;
    height: 100%;
    background-image: url(../img/monitor/bigBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 0 1.6vw;
    display: flex;
    flex-direction: column
}
.mask-title{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;

}
.mask-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-time{
    color: #FFFFFF;
    font-size: 16px;
}
.mask-close{
    width: 1.2vw;
    height: 1.2vw;
    background-image: url(../img/monitor/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}
.mask-info-content{
    margin: 1.6vw 0;
    box-sizing: border-box;
    flex:1;
    background-image: url(../img/monitor/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
footer{
    position: fixed;
    bottom: 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding:0 23px;
    width: 100vw;
}
.footer-content .content{
    flex:1;
    color: #FFFFFF;
}
.footer-content .footer-container {
    width: 43vw;
    display: flex;
    align-items: center;
}
.footer-container .box{
    width: 12px;
    height: 12px;
    /* background: #07112B; */
    border: 1px solid rgba(21, 246, 238, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container .box .boxin{
    width: 4px;
    height: 4px;
    background: rgba(137, 210, 245, 1);
}
.footer-container .line{
    width: 42vw;
    height: 0;
    border: 2px solid rgba(9, 71, 141, 1)
}
.footer-content .content{
    font-weight: 400;
    text-align: center;
    font-size: 1vw;
    
}
/* 字体响应式调整 */
@media (max-width: 768px) {
  header {
    height: 8vh;
    line-height: 8vh;
    font-size: 4vw;
  }

  aside {
    position: fixed;
    top: 10vh;
  }

  .aside-header .content .name {
    font-size: 20px;
  }

  .footer-content {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  header {
    height: 6vh;
    line-height: 6vh;
    font-size: 4.5vw;
  }

  aside {
    position: fixed;
    top: 8vh;
  }

  .aside-header .content .name {
    font-size: 18px;
  }

  .footer-content {
    font-size: 14px;
  }
}