.aside-header{
    width: 100%;
    height: 5vh;
    background: linear-gradient( 180deg, rgba(0,133,255,0) 0%, #0085FF 100%);
     background-image: 
        linear-gradient(180deg, rgba(0,133,255,0) 0%, #0085FF 100%),
        repeating-linear-gradient(
            135deg,          /* 45度斜角 */
            #0c2f67 0px,     /* 条纹颜色 */
            #0c2f67 15px,    /* 条纹宽度 */
            transparent 15px,/* 透明间隔 */
            transparent 30px /* 间隔宽度 */
        );
    box-shadow: 0px 4px 10px 0px rgba(0, 102, 255, 0.5);
}

.aside-header .top {
    width: 100%;
    height: 2px;
    background: linear-gradient( 90deg, rgba(0,133,255,0) 0%, #CFE8FF 50%, rgba(0,133,255,0) 100%);
}
.aside-header .content{
    width: 100%;
    height: calc(100% - 4px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.aside-header .content .name{
    font-family: "PingFang SC";
    font-weight: 500;
    font-size: 22px;
    color: #FFFFFF;
}
.aside-header .content .arrow{
    width: 5vw;
    height: 5vw;
    background: linear-gradient( 180deg, #D4F4FF 0%, #B2EBFF 100%);
    border-radius: 36px 36px 36px 36px;
}